.about {
  width: 100%;
  display: flex;
  max-width: 1414px;
  margin-top: 40px;
  align-items: center;
  padding-top: 40px;
  padding-left: 24px;
  margin-bottom: 40px;
  padding-right: 24px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f1f1;
  .content {
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .mainQuote {
      font-size: 24px;
      font-weight: 400;
    }
    .buttonContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .button {
        color: black;
        text-align: center;
        padding-top: 16px;
        padding-left: 80px;
        border-radius: 8px;
        padding-right: 80px;
        padding-bottom: 16px;
        background-color: white;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 1.55;
        text-decoration: none;
        display: inline-block;
        border-color: black;
        border-width: 1px;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        &:hover {
          background-color: #c9c9c9;
        }
        .link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .image {
    width: 40%;
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .button {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}

@media (max-width: 991px) {
  .about {
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
    .content {
      width: 80% !important;
      align-items: center !important;
      margin-bottom: 32px !important;
      font-size: 18px !important;
      .mainQuote {
        font-size: 24px !important;
      }
    }
    .image {
      width: 100% !important;
    }
  }
}
@media (max-width: 767px) {
  .content {
    text-align: center;
    font-size: 16px !important;
    .mainQuote {
      text-align: center;
      font-size: 12px !important;
    }
    .buttonContainer {
      justify-content: space-evenly !important;
      .button {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }
}
