.navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px#d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  .navbar {
    width: 100%;
    display: flex;
    max-width: 1414px;
    align-items: center;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: row;
    padding-bottom: 24px;
    justify-content: space-between;
    .heading {
      font-family: Overpass;
      font-weight: 700;
      line-height: 1.55;
      text-decoration: none;
      font-size: 24px;
      font-style: normal;
      text-transform: none;
    }

    .mobile-menu {
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      display: none;
      padding: 24px;
      position: absolute;
      align-items: flex-start;
      flex-direction: column;
      background-color: #fff;
      &.teleport-show {
        display: flex;
      }
      .top-container {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        flex-direction: row;
        justify-content: space-between;
        .menu-heading {
          font-family: Overpass;
          font-weight: 700;
          line-height: 1.55;
          text-decoration: none;
          font-size: 24px;
          font-style: normal;
          text-transform: none;
        }
        .close-menu {
          display: flex;
          align-items: flex-start;
          flex: 0 0 auto;
          flex-direction: column;
          .close-icon {
            width: 24px;
            height: 24px;
          }
        }
      }
      .mobile-nav-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .mobile-nav-Link {
          margin-bottom: 8px;
          font-family: Overpass;
          text-transform: none;
          text-decoration: none;
          font-size: 24px;
          font-weight: 700;
          line-height: 1.55;
        }
      }
    }

    .burger-menu {
      display: none;
      align-items: flex-start;
      flex-direction: column;
      .icon {
        width: 36px;
        height: 36px;
      }
    }
    .navbar-links-container {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      .navbar-link {
        margin-right: 24px;
        font-family: Overpass;
        text-transform: none;
        text-decoration: none;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.55;
      }
    }
  }
}

@media (max-width: 479px) {
  .burger-menu {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .navbar {
    position: relative;
    .navbar-links-container {
      display: none !important;
    }
    .burger-menu {
      display: flex !important;
      padding: 4px;
      margin-left: 24px;
      border-radius: 4px;
      background-color: #000;
      .icon {
        fill: #fff;
      }
    }
  }
}
@media (max-width: 991px) {
  .heading {
    text-align: center;
  }
  .menu-heading {
    text-align: center;
  }
}
