.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  .footer {
    width: 100%;
    display: flex;
    max-width: 1414px;
    align-items: center;
    padding: 24px;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 16px;
      padding-top: 4px;
      .icon {
        width: 24px;
        height: 24px;
      }
    }
    .copyright-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 6px;
      .icon {
        width: 24px;
        height: 24px;
      }
      .copyright {
        font-size: 16px;
        text-transform: capitalize;
        font-family: Overpass;
        font-weight: 700;
        text-decoration: none;
        line-height: 16px !important;
      }
    }
  }
}
