.container {
  width: 100%;
  display: flex;
  max-width: 1414px;
  margin-top: 40px;
  align-items: center;
  padding-top: 40px;
  padding-left: 24px;
  margin-bottom: 40px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 40px;
  gap: 3rem;
  .heading-container {
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;
    .heading {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.22;
      font-family: Overpass;
      text-transform: none;
      text-decoration: none;
    }
  }
  .content {
    display: flex;
    align-items: stretch;
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    .experience {
      min-width: 30%;
      display: flex;
      padding: 32px;
      align-items: flex-start;
      border-radius: 4px;
      flex-direction: column;
      justify-content: space-between;
      background-color: #d9d9d9;
      .point {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
        flex-direction: row;
        justify-content: center;
        .text {
          text-align: left;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.55;
          text-transform: none;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .heading-container {
    width: 100%;
    .heading {
      text-align: center;
    }
  }
  .content {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    .experience {
      width: 85%;
    }
  }
}

@media (max-width: 479px) {
  .experience {
    width: 100% !important;
  }
}
