.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f1f1f1;
  .image {
    width: 50%;
    object-fit: cover;
  }
  .formContainer {
    width: 50%;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: column;
    padding-bottom: 40px;
    justify-content: center;
    .heading {
      text-align: center;
      padding: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      input,
      textarea {
        background-color: #fff;
        color: #000;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.55;
        letter-spacing: 2;
        text-transform: none;
        text-decoration: none;
        border-radius: 8px;
        margin-bottom: 40px;
        padding-right: 24px;
        padding-bottom: 16px;
        width: 50%;
        padding-top: 16px;
        border: 2px solid #d9d9d9;
        padding-left: 24px;
        outline: none;
      }
      button {
        width: 50%;
        color: #fff;
        text-align: center;
        padding-top: 16px;
        border-radius: 8px;
        background-color: #000;
        font-size: 16px;
        text-transform: capitalize;
        font-family: Overpass;
        font-weight: 700;
        line-height: 1.55;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1rem;
        border-color: #000;
        border-width: 1px;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column !important;
    .image {
      width: 70% !important;
    }
    .formContainer {
      width: 100% !important;
      align-items: center !important;
      .heading {
        font-size: medium !important;
      }
      input,
      textarea {
        width: 100% !important;
      }
      button {
        width: 70% !important;
      }
    }
  }
}
@media (max-width: 479px) {
  .formContainer {
    padding-left: 24px !important;
    padding-right: 24px !important;
    .heading {
      font-size: small !important;
    }
    button {
      width: 100% !important;
    }
  }
  .image {
    width: 100% !important;
    height: 300px !important;
  }
}
