.accordion {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-bottom: 32px;
  flex-direction: column;
  .accordion-header {
    width: 100%;
    align-self: center;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    padding-top: 16px;
    padding-left: 32px;
    border-radius: 8px;
    padding-right: 32px;
    padding-bottom: 16px;
    background-color: #d9d9d9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    &.open {
      .fa-chevron-down {
        display: none;
      }
      .fa-chevron-up {
        display: inline-block;
      }
    }
  }

  .accordion-content {
    display: flex;
    padding: 32px;
    font-weight: 500;
    border-radius: 8;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 767px) {
  .accordion {
    width: 100%;
  }
}
