.body {
  .logo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    opacity: 1;
    padding: 8px;
    position: relative;
    margin-bottom: 9px;
  }

  .circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    stroke-width: 12px;
    animation: stroke 4s linear infinite;
  }
  .circleBg {
    stroke-width: 12px;
  }

  @keyframes stroke {
    80% {
      stroke-dashoffset: 350;
    }
    100% {
      stroke-dashoffset: 350;
    }
  }

  .image {
    position: absolute;
    width: 100px;
    left: 50%;
    top: 50%;

    translate: -50% -50%;
    scale: 0.5;
    animation: fadeIn 4s ease-out infinite;
  }
  @keyframes fadeIn {
    20% {
      scale: 1;
    }
    40% {
      scale: 0.5;
    }
    60% {
      scale: 1;
    }
    80% {
      scale: 0.5;
      opacity: 1;
    }
    100% {
      opacity: 0;
      scale: 1;
    }
  }
}
